.rightpanecustom-button {
    -fx-background-color: #E67E22;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-family: Californian FB Bold;
    -fx-border-radius: 10;
    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0, 0, 2);

    -fx-alignment: CENTER_LEFT;
    -fx-graphic-text-gap: 5;

}

.rightpanecustom-button:hover {
    -fx-background-color: #FBBF44;
}

.rightpanecustom-button:pressed {
    -fx-background-color: #D35400;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0, 0, 1);
}
